In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('credit_train.csv')

df_test=pd.read_csv('credit_test.csv')

In [ ]:
df.isna().sum()

Loan ID                           514
Customer ID                       514
Loan Status                       514
Current Loan Amount               514
Term                              514
Credit Score                    19668
Annual Income                   19668
Years in current job             4736
Home Ownership                    514
Purpose                           514
Monthly Debt                      514
Years of Credit History           514
Months since last delinquent    53655
Number of Open Accounts           514
Number of Credit Problems         514
Current Credit Balance            514
Maximum Open Credit               516
Bankruptcies                      718
Tax Liens                         524
dtype: int64

In [ ]:
df

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,14dd8831-6af5-400b-83ec-68e61888a048,981165ec-3274-42f5-a3b4-d104041a9ca9,Fully Paid,445412.0,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,17.2,NaN,6.0,1.0,228190.0,416746.0,1.0,0.0
1,4771cc26-131a-45db-b5aa-537ea4ba5342,2de017a3-2e01-49cb-a581-08169e83be29,Fully Paid,262328.0,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,33295.98,21.1,8.0,35.0,0.0,229976.0,850784.0,0.0,0.0
2,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,5efb2b2b-bf11-4dfd-a572-3761a2694725,Fully Paid,99999999.0,Short Term,741.0,2231892.0,8 years,Own Home,Debt Consolidation,29200.53,14.9,29.0,18.0,1.0,297996.0,750090.0,0.0,0.0
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,e777faab-98ae-45af-9a86-7ce5b33b1011,Fully Paid,347666.0,Long Term,721.0,806949.0,3 years,Own Home,Debt Consolidation,8741.90,12.0,NaN,9.0,0.0,256329.0,386958.0,0.0,0.0
4,d4062e70-befa-4995-8643-a0de73938182,81536ad9-5ccf-4eb8-befb-47a4d608658e,Fully Paid,176220.0,Short Term,NaN,NaN,5 years,Rent,Debt Consolidation,20639.70,6.1,NaN,15.0,0.0,253460.0,427174.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100509,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100510,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100511,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100512,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100513,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_test

,Loan ID,Customer ID,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,f738779f-c726-40dc-92cf-689d73af533d,ded0b3c3-6bf4-4091-8726-47039f2c1b90,611314.0,Short Term,747.0,2074116.0,10+ years,Home Mortgage,Debt Consolidation,42000.83,21.8,NaN,9.0,0.0,621908.0,1058970.0,0.0,0.0
1,6dcc0947-164d-476c-a1de-3ae7283dde0a,1630e6e3-34e3-461a-8fda-09297d3140c8,266662.0,Short Term,734.0,1919190.0,10+ years,Home Mortgage,Debt Consolidation,36624.40,19.4,NaN,11.0,0.0,679573.0,904442.0,0.0,0.0
2,f7744d01-894b-49c3-8777-fc6431a2cff1,2c60938b-ad2b-4702-804d-eeca43949c52,153494.0,Short Term,709.0,871112.0,2 years,Rent,Debt Consolidation,8391.73,12.5,10.0,10.0,0.0,38532.0,388036.0,0.0,0.0
3,83721ffb-b99a-4a0f-aea5-ef472a138b41,12116614-2f3c-4d16-ad34-d92883718806,176242.0,Short Term,727.0,780083.0,10+ years,Rent,Debt Consolidation,16771.87,16.5,27.0,16.0,1.0,156940.0,531322.0,1.0,0.0
4,08f3789f-5714-4b10-929d-e1527ab5e5a3,39888105-fd5f-4023-860a-30a3e6f5ccb7,321992.0,Short Term,744.0,1761148.0,10+ years,Home Mortgage,Debt Consolidation,39478.77,26.0,44.0,14.0,0.0,359765.0,468072.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10348,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10349,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10351,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10352,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
for i in df.columns:
  if df[i].dtype==object:
     df[i]=df[i].fillna(df[i].mode()[0])
  else:
     df[i]=df[i].fillna(df[i].mean())

In [ ]:
X = df.drop(labels = 'Loan Status',axis = 1)
Y = df[['Loan Status']]

In [ ]:
cat = []
con = []
for i in X.columns:
  if X[i].dtype == 'object':
    cat.append(i)
  else:
    con.append(i)

In [ ]:
from sklearn.preprocessing import StandardScaler,LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix

In [ ]:
Xcat = X[cat]
Xcon = X[con]

In [ ]:
for i in Xcat.columns:
  Xcat[i] = LabelEncoder().fit_transform(Xcat[i])

/tmp/ipython-input-3602046613.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Xcat[i] = LabelEncoder().fit_transform(Xcat[i])
/tmp/ipython-input-3602046613.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Xcat[i] = LabelEncoder().fit_transform(Xcat[i])
/tmp/ipython-input-3602046613.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Xcat[i] = LabelEncoder().fit_transform(Xcat[i])
/tmp/ipython-input-3602046613.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Xcat[i] = LabelEncoder().fit_transform(Xcat[i])
/tmp/ipython-input-3602046613.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Xcat[i] = LabelEncoder().fit_transform(Xcat[i])
/tmp/ipython-input-3602046613.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Xcat[i] = LabelEncoder().fit_transform(Xcat[i])

In [ ]:
Xcon = pd.DataFrame(StandardScaler().fit_transform(Xcon),columns = Xcon.columns)

In [ ]:
X = Xcat.join(Xcon)

In [ ]:
out = []
for i in Xcon.columns:
  a = Xcon[i][(Xcon[i]<-3)|(Xcon[i]>3)].index
  out.extend(a)


  out

In [ ]:
outlier = list(set(out))
outlier

[32768,
 1,
 32770,
 98306,
 5,
 98311,
 32776,
 98315,
 65547,
 65552,
 65553,
 32787,
 98325,
 32791,
 24,
 29,
 65566,
 32801,
 65570,
 98337,
 32804,
 98341,
 98342,
 32809,
 65577,
 43,
 98347,
 46,
 98352,
 65584,
 51,
 98355,
 98356,
 54,
 65591,
 56,
 65593,
 32829,
 63,
 65,
 65603,
 32838,
 98374,
 65610,
 74,
 76,
 65612,
 65614,
 77,
 65618,
 98388,
 32853,
 87,
 98393,
 32858,
 98396,
 32860,
 96,
 97,
 32866,
 32867,
 103,
 65644,
 98414,
 32879,
 65648,
 98416,
 32882,
 117,
 65654,
 118,
 32888,
 65663,
 65664,
 32900,
 65669,
 98439,
 65673,
 32906,
 32905,
 65677,
 65679,
 98451,
 32917,
 151,
 32919,
 157,
 98462,
 32927,
 160,
 161,
 32928,
 32929,
 165,
 98470,
 169,
 32945,
 98482,
 32948,
 180,
 98496,
 32961,
 200,
 65742,
 98511,
 65747,
 216,
 32984,
 65753,
 98522,
 65756,
 221,
 32989,
 32994,
 98533,
 32998,
 33000,
 98538,
 65771,
 238,
 241,
 65778,
 98548,
 248,
 65785,
 33018,
 33020,
 98558,
 257,
 98562,
 33031,
 65804,
 98575,
 33043,
 276,
 98580,
 98585,
 33049,
 98587,
 98588,
 33053,
 65826,
 98595,
 98601,
 33066,
 300,
 33070,
 303,
 306,
 307,
 65843,
 33074,
 311,
 312,
 98617,
 98620,
 321,
 65860,
 98631,
 65864,
 98636,
 98641,
 98644,
 65877,
 98649,
 33120,
 98662,
 363,
 365,
 65901,
 369,
 33141,
 98678,
 376,
 98681,
 98682,
 378,
 33148,
 65917,
 65918,
 383,
 33151,
 385,
 389,
 98693,
 98695,
 33157,
 396,
 98700,
 65935,
 33169,
 403,
 33173,
 406,
 98710,
 65944,
 410,
 33179,
 411,
 65947,
 65948,
 65951,
 98716,
 33190,
 65963,
 33197,
 98734,
 65969,
 33205,
 33206,
 33207,
 444,
 98752,
 449,
 98753,
 451,
 65987,
 33222,
 33225,
 460,
 65997,
 65998,
 462,
 33235,
 98776,
 473,
 66009,
 66011,
 98780,
 480,
 98784,
 483,
 484,
 98792,
 98793,
 33261,
 98798,
 66031,
 98801,
 98805,
 33274,
 66043,
 508,
 509,
 511,
 513,
 33282,
 66051,
 66052,
 514,
 516,
 98823,
 33293,
 98829,
 98832,
 66065,
 529,
 98836,
 534,
 535,
 98840,
 33303,
 33309,
 98851,
 98853,
 66087,
 552,
 33321,
 558,
 66098,
 33331,
 66100,
 98867,
 66102,
 33335,
 33341,
 98879,
 575,
 66113,
 66111,
 98884,
 66117,
 98886,
 98891,
 589,
 594,
 98899,
 33364,
 98901,
 98904,
 602,
 66139,
 33370,
 33373,
 603,
 33371,
 609,
 98914,
 66145,
 33377,
 98917,
 66150,
 98918,
 66152,
 98920,
 613,
 619,
 98925,
 66159,
 66161,
 66162,
 33397,
 636,
 33410,
 66179,
 98956,
 653,
 657,
 33427,
 662,
 663,
 66200,
 66201,
 66202,
 33434,
 664,
 98973,
 673,
 66214,
 679,
 33448,
 98994,
 33459,
 691,
 693,
 694,
 695,
 66231,
 99001,
 697,
 66233,
 33468,
 702,
 33473,
 99011,
 99014,
 66247,
 33485,
 99024,
 721,
 99026,
 33489,
 99028,
 33491,
 33498,
 66266,
 732,
 99036,
 734,
 66271,
 33500,
 736,
 66273,
 66269,
 99037,
 66277,
 33510,
 744,
 33513,
 747,
 66284,
 749,
 748,
 66287,
 33526,
 66295,
 33527,
 33528,
 66298,
 99070,
 33538,
 66309,
 776,
 99081,
 778,
 777,
 99084,
 99080,
 786,
 788,
 789,
 33558,
 792,
 99096,
 33561,
 99099,
 66336,
 802,
 99106,
 66341,
 99114,
 66347,
 814,
 33583,
 33586,
 818,
 33591,
 824,
 825,
 826,
 33593,
 66365,
 66372,
 99144,
 842,
 848,
 853,
 66390,
 33621,
 33624,
 66393,
 33622,
 99164,
 33628,
 66398,
 99165,
 33631,
 99171,
 66407,
 33641,
 99178,
 874,
 877,
 33647,
 33650,
 33651,
 33653,
 66423,
 33657,
 99194,
 892,
 99197,
 66428,
 33663,
 99201,
 99202,
 66435,
 66434,
 897,
 902,
 66438,
 33672,
 99212,
 33679,
 99217,
 33682,
 66450,
 33684,
 99222,
 66456,
 99228,
 66461,
 33695,
 33696,
 930,
 932,
 33701,
 66471,
 99241,
 33709,
 66477,
 66481,
 99249,
 948,
 33718,
 950,
 33721,
 99259,
 99261,
 33727,
 99265,
 33731,
 965,
 967,
 66506,
 970,
 66507,
 33743,
 66514,
 66516,
 983,
 66530,
 996,
 99301,
 66532,
 99306,
 1002,
 1003,
 99310,
 99311,
 1006,
 99313,
 33782,
 66559,
 1024,
 33797,
 66566,
 99336,
 33801,
 66569,
 33804,
 99343,
 1040,
 66581,
 33817,
 1051,
 99355,
 66589,
 66588,
 66597,
 1064,
 99369,
 33834,
 99371,
 33835,
 1071,
 1074,
 99378,
 1076,
 66613,
 99383,
 99385,
 33850,
 1081,
 33856,
 33861,
 1094,
 33867,
 33871,
 99408,
 33876,
 66645,
 99412,
 66647,
 66652,
 66653,
 33892,
 1127,
 66664,
 1132,
 33901,
 99437,
 33900,
 99445,
 1143,
 66680,
 1146,
 99452,
 99453,
 66686,
 33922,
 99458,
 66692,
 66693,
 99459,
 99464,
 66699,
 1165,
 33938,
 1170,
 66708,
 66706,
 33940,
 33943,
 66712,
 33946,
 1180,
 66720,
 33953,
 66721,
 1187,
 66722,
 1189,
 99493,
 33960,
 33963,
 66734,
 99504,
 33970,
 33972,
 99516,
 1220,
 99525,
 33990,
 99526,
 33992,
 33989,
 33994,
 99530,
 33996,
 33995,
 99533,
 1230,
 99527,
 99529,
 34002,
 1235,
 66772,
 66773,
 1237,
 99543,
 99542,
 34010,
 34011,
 1244,
 66780,
 34012,
 1248,
 34017,
 99557,
 99560,
 1260,
 34032,
 1266,
 34037,
 99577,
 66809,
 34041,
 34045,
 66814,
 34047,
 34050,
 66818,
 1288,
 34056,
 34058,
 66830,
 66832,
 1298,
 66834,
 66836,
 34076,
 99612,
 1313,
 66850,
 1314,
 99620,
 34084,
 1315,
 99619,
 99629,
 1329,
 34107,
 66875,
 34108,
 99646,
 99647,
 66883,
 99653,
 34119,
 99664,
 34131,
 66900,
 99670,
 1368,
 1373,
 34141,
 1375,
 34143,
 34147,
 66916,
 66917,
 1384,
 1385,
 99690,
 1387,
 34156,
 1389,
 66928,
 34161,
 1397,
 1402,
 66941,
 99712,
 34177,
 1410,
 66949,
 99721,
 66957,
 1422,
 66959,
 99728,
 66961,
 99730,
 66963,
 1428,
 99733,
 66966,
 99735,
 66968,
 34197,
 66971,
 99740,
 99742,
 1442,
 1444,
 34213,
 66981,
 34217,
 34221,
 66991,
 66996,
 34229,
 99768,
 67001,
 1464,
 34239,
 67008,
 67009,
 99777,
 99781,
 99784,
 1485,
 34256,
 34258,
 34259,
 34261,
 1496,
 67033,
 67034,
 1501,
 67039,
 67040,
 1507,
 67043,
 1510,
 99818,
 1515,
 34284,
 99822,
 67055,
 67058,
 1525,
 34295,
 67066,
 34305,
 1538,
 99843,
 34307,
 34311,
 99850,
 99851,
 1548,
 1546,
 34314,
 34319,
 1554,
 1564,
 99872,
 67108,
 34341,
 1574,
 34344,
 34346,
 99894,
 99895,
 99897,
 67132,
 99902,
 99904,
 34368,
 67138,
 67139,
 99906,
 1602,
 67141,
 99908,
 67147,
 1611,
 1613,
 1614,
 34383,
 99920,
 67152,
 1619,
 99923,
 1621,
 67158,
 1624,
 67161,
 1627,
 67163,
 67169,
 67170,
 67172,
 1637,
 99944,
 67177,
 67178,
 1643,
 67180,
 99947,
 34410,
 34415,
 99954,
 1656,
 1658,
 67195,
 99964,
 67199,
 99967,
 1666,
 34445,
 1682,
 34451,
 1686,
 67223,
 34455,
 34459,
 1692,
 34461,
 67228,
 67233,
 1703,
 1708,
 34476,
 67252,
 1721,
 1723,
 67260,
 67261,
 67262,
 1728,
 1731,
 34502,
 34507,
 67278,
 34511,
 1744,
 34512,
 1745,
 34515,
 67286,
 1751,
 1754,
 1760,
 67299,
 67301,
 1767,
 34535,
 34554,
 34557,
 34568,
 1800,
 34572,
 34574,
 1807,
 34576,
 34577,
 34575,
 34581,
 67350,
 34585,
 67358,
 1823,
 67363,
 34596,
 67388,
 34633,
 67402,
 67403,
 34636,
 1870,
 34640,
 1874,
 34642,
 67414,
 67418,
 67419,
 67421,
 1886,
 1888,
 67425,
 67429,
 1893,
 34663,
 1899,
 1900,
 67439,
 1904,
 1905,
 67447,
 67449,
 1916,
 67452,
 34686,
 1919,
 34689,
 1923,
 34692,
 67461,
 67463,
 1930,
 1933,
 1935,
 34704,
 67473,
 67474,
 1940,
 1944,
 34712,
 34715,
 67483,
 1950,
 67488,
 34724,
 67493,
 34728,
 1965,
 34733,
 34734,
 67505,
 67506,
 67508,
 67516,
 34751,
 67521,
 34754,
 67525,
 34762,
 34763,
 1997,
 2004,
 2008,
 2009,
 34781,
 67550,
 67557,
 67559,
 67560,
 67563,
 2033,
 34804,
 67573,
 2037,
 67575,
 2038,
 2046,
 67582,
 34818,
 67587,
 34820,
 67589,
 34823,
 2057,
 2058,
 34825,
 67594,
 2064,
 2065,
 34832,
 67603,
 34837,
 2070,
 67607,
 67605,
 34841,
 67609,
 34838,
 34844,
 2078,
 34847,
 67617,
 67619,
 34854,
 67624,
 2089,
 2095,
 2096,
 67633,
 67636,
 2102,
 2103,
 34873,
 34876,
 2109,
 2110,
 2113,
 67652,
 67656,
 34889,
 2122,
 67659,
 34896,
 2128,
 67665,
 67669,
 2140,
 2142,
 67681,
 ...]

In [ ]:
len(outlier)

12480

In [ ]:
X = X.drop(index = outlier,axis = 0)
Y = Y.drop(index=outlier,axis = 0)

X.index = range(X.shape[0])
Y.index = range(Y.shape[0])

In [ ]:
X.isna().sum()

Loan ID                         0
Customer ID                     0
Term                            0
Years in current job            0
Home Ownership                  0
Purpose                         0
Current Loan Amount             0
Credit Score                    0
Annual Income                   0
Monthly Debt                    0
Years of Credit History         0
Months since last delinquent    0
Number of Open Accounts         0
Number of Credit Problems       0
Current Credit Balance          0
Maximum Open Credit             0
Bankruptcies                    0
Tax Liens                       0
dtype: int64

In [ ]:
from sklearn.ensemble import RandomForestClassifier,AdaBoostClassifier
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
xtrain,xtest,ytrain,ytest = train_test_split(X,Y,test_size = 0.2)

# logistic regression

In [ ]:
lr = LogisticRegression()

In [ ]:
model = lr.fit(xtrain,ytrain)

/usr/local/lib/python3.11/dist-packages/sklearn/utils/validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.11/dist-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [ ]:
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)


tr_score = accuracy_score(ytrain,tr_pred)
ts_score = accuracy_score(ytest,ts_pred)

print(tr_score)
print(ts_score)

0.8108821900691496
0.8123473618447209

In [ ]:
tr_con=confusion_matrix(ytrain,tr_pred)
ts_con=confusion_matrix(ytest,ts_pred)

print(tr_con)
print(ts_con)

[[    0 13311]
 [    8 57108]]
[[    0  3303]
 [    1 14303]]

# decision tree

In [ ]:
dtc = DecisionTreeClassifier(criterion = 'gini')

In [ ]:
model = dtc.fit(xtrain,ytrain)

In [ ]:
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)


tr_score = accuracy_score(ytrain,tr_pred)
ts_score = accuracy_score(ytest,ts_pred)

print(tr_score)
print(ts_score)

1.0
0.7448741977622536

# random forest

In [ ]:
rfs=RandomForestClassifier(n_estimators=30)

In [ ]:
model=rfs.fit(xtrain,ytrain)

/usr/local/lib/python3.11/dist-packages/sklearn/base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

In [ ]:
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)


tr_score = accuracy_score(ytrain,tr_pred)
ts_score = accuracy_score(ytest,ts_pred)

print(tr_score)
print(ts_score)

0.9993184432107004
0.8110978588061566

# kneighbors

In [ ]:
knn=KNeighborsClassifier(n_neighbors=5)

In [ ]:
model=knn.fit(xtrain,ytrain)

/usr/local/lib/python3.11/dist-packages/sklearn/neighbors/_classification.py:239: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

In [ ]:
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)


tr_score = accuracy_score(ytrain,tr_pred)
ts_score = accuracy_score(ytest,ts_pred)

print(tr_score)
print(ts_score)

0.8266857881210331
0.7822456977338559

# adboost

In [ ]:
dtc=DecisionTreeClassifier(max_depth=2)

In [ ]:
ADB=AdaBoostClassifier(dtc,n_estimators=10)

In [ ]:
model=ADB.fit(xtrain,ytrain)

/usr/local/lib/python3.11/dist-packages/sklearn/utils/validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)


tr_score = accuracy_score(ytrain,tr_pred)
ts_score = accuracy_score(ytest,ts_pred)

print(tr_score)
print(ts_score)

0.8108395927698184
0.8093371954336344